In [1]:
import pandas as pd
import numpy as np

# Importing the dataset
dataset_filename = '/Users/ERexhepa/Downloads/mock_bank_data_original.csv'
df = pd.read_csv(dataset_filename)

# Summarize missing values
print 'Null values by variable:'
print '------------------------'
df.isnull().sum()

Null values by variable:
------------------------

customer_id         18
name                 0
email              158
sex                111
age                113
state               40
cheq_balance        23
savings_balance     96
credit_score        78
special_offer        0
dtype: int64

In [2]:
import pandas as pd
import numpy as np

# Importing the dataset
dataset_filename = '/Users/ERexhepa/Downloads/mock_bank_data_original.csv'
df = pd.read_csv(dataset_filename)

# Summarize missing values
print 'Null values by variable:'
print '------------------------'
df.isnull().sum()

Null values by variable:
------------------------

customer_id         18
name                 0
email              158
sex                111
age                113
state               40
cheq_balance        23
savings_balance     96
credit_score        78
special_offer        0
dtype: int64

In [3]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/Users/ERexhepa/Downloads/mock_bank_data_original.csv')

####################
### Drop columns ###
####################

# Drop all rows with NaN in state column
df = df[pd.notnull(df['state'])]

##################################
### Replace with column median ###
##################################

# Replace credit_score NaN with median credit_score
df['credit_score'] = df['credit_score'].fillna(df['credit_score'].median())

################################
### Drop unnecessary columns ###
################################

# Remove custoemr_id, name, and email columns
for col in ['customer_id', 'name', 'email']:
    df = df.drop(col, axis=1)

################################
### Save new dataset to file ###
################################

# Output modified dataset to CSV
df.to_csv('mock_bank_data_original_PART1.csv', index=False)

In [5]:
print 'Overall cheq_balance mean:', df['cheq_balance'].mean().round(2)
print 'Overall savings_balance mean:', df['savings_balance'].mean().round(2)

#Overall cheq_balance mean: 4938.91
#Overall savings_balance mean: 9603.64

Overall cheq_balance mean: 4938.91
Overall savings_balance mean: 9603.64

In [7]:
print 'cheq_balance mean by state:'
print '---------------------------'
#print df.groupby(['state']).mean().groupby('state')['cheq_balance'].mean().round(2)

#cheq_balance mean by state:
#---------------------------
#state
#CA    4637.23
#FL    4993.99
#NY    4932.80
#TX    5175.78
#Name: cheq_balance, dtype: float64

cheq_balance mean by state:
---------------------------

In [10]:
print 'savings_balance mean by state:'
print '------------------------------'
#print df.groupby(['state']).mean().groupby('state')['savings_balance'].mean().round(2)

#savings_balance mean by state:
#------------------------------
#state
#CA     9174.56
#FL     9590.59
#NY    10443.61
#TX     9611.70
#Name: savings_balance, dtype: float64

savings_balance mean by state:
------------------------------

In [11]:
# Replace cheq_balance NaN with mean cheq_balance of same state
df['cheq_balance'] = df.groupby('state').cheq_balance.transform(lambda x: x.fillna(x.mean()))
df.cheq_balance = df.cheq_balance.round(2)

# Replace savings_balance NaN with mean savings_balance of same state
df['savings_balance'] = df.groupby('state').savings_balance.transform(lambda x: x.fillna(x.mean()))
df.savings_balance = df.savings_balance.round(2)

In [12]:
# Output modified dataset to CSV
df.to_csv('mock_bank_data_original_PART2.csv', index=False)